form {
  background-color: #1e1e1e;
  position: absolute;
  left: 35%;
  top: 22%;
  padding: 2vw;
  border-radius: 1.5vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

form h1 {
  color: #ffffff;
  text-align: center;
}

input, select {
  padding: 1vw;
  border: none;
  border-radius: 0.7vw;
  font-size: larger;
  background-color: #2e2e2e;
  color: #ffffff;
}

input:focus, select:focus {
  outline: 0.2vw solid #4caf50;
}

button {
  padding: 1vw;
  border: none;
  border-radius: 0.7vw;
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: #ff5555;
  font-size: 0.9em;
  text-align: center;
}

.success-message {
  color: #4caf50;
  font-size: 0.9em;
  text-align: center;
}



@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header img {
    margin-bottom: 10px;
  }
}
